.w {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: none transparent;
	text-align: left;
}
.em > a,
.tc > a,
.th > a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
.em > a,
.tc > a,
.th > a {
	text-decoration: none;
	color: inherit;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
.w {
	line-height: 1.4;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: inherit;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.t,
.w,
.wf {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 100%;
	width: 100%;
}
@supports (-webkit-overflow-scrolling: touch) {
	.w {
		max-width: 100vw;
	}
}
.wc,
.wt {
	overflow: hidden;
}
._sm {
	background: inherit;
}
._lc .wf {
	-ms-flex-direction: row;
	flex-direction: row;
}
._lc .wt {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-align: center;
	align-items: center;
}
.wt {
	padding: 8px 10px;
}
@media (min-width: 360px) {
	.wt {
		padding: 12px 15px;
	}
}
@media (min-width: 600px) {
	.wt {
		padding: 16px 20px;
	}
}
._lc._sm:not(.xd) .wc {
	min-width: 100px;
	width: 100px;
	min-height: 100px;
}
@media (min-width: 360px) {
	._lc._sm:not(.xd) .wc {
		min-width: 110px;
		width: 110px;
		min-height: 110px;
	}
}
@media (min-width: 460px) {
	._lc._sm:not(.xd) .wc {
		min-width: 140px;
		width: 140px;
		min-height: 140px;
	}
}
@media (min-width: 600px) {
	._lc._sm:not(.xd) .wc {
		min-width: 160px;
		width: 160px;
		min-height: 160px;
	}
}
@supports (-moz-appearance: meterbar) and (all: initial) {
	._lc .wc {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-align: stretch;
		align-items: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
	}
}
@media (max-width: 459px) {
	._lc .twt {
		display: none;
	}
}
@media (min-width: 460px) {
	._lc .twd {
		display: none;
	}
}
._lc._ts .th {
	-webkit-line-clamp: 1;
}
._lc._ts._lh14 .th {
	max-height: 1.4em;
}
._lc._ts .td {
	-webkit-line-clamp: 2;
}
._lc._ts._lh14 .td {
	max-height: 2.8em;
}
@media (min-width: 460px) {
	._lc._ts .th {
		-webkit-line-clamp: 1;
	}
	._lc._ts._lh14 .th {
		max-height: 1.4em;
	}
	._lc._ts .td {
		-webkit-line-clamp: 3;
	}
	._lc._ts._lh14 .td {
		max-height: 4.2em;
	}
}
.t {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.td,
.th {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
@supports (display: -webkit-box) {
	.td,
	.th {
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
}
.td {
	vertical-align: inherit;
}
.tf,
.th {
	margin-bottom: 0.5em;
}
.td {
	margin-bottom: 0.6em;
}
._od .tf:last-child {
	margin-bottom: 0 !important;
}
.tf {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.tc {
	-ms-flex: 1;
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (min-width: 460px) {
	.td {
		margin-bottom: 0.7em;
	}
}
._ffsa {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif;
}
._fwn {
	font-weight: 400;
}
._fwb {
	font-weight: 700;
}
._fsn {
	font-style: normal;
}
._lh14 {
	line-height: 1.4;
}
._f0,
._f1m {
	font-size: 12px;
}
._f1p {
	font-size: 13px;
}
@media (min-width: 360px) {
	._f0 {
		font-size: 13px;
	}
	._f1p {
		font-size: 14px;
	}
}
@media (min-width: 460px) {
	._f1m {
		font-size: 13px;
	}
	._f0 {
		font-size: 14px;
	}
	._f1p {
		font-size: 15px;
	}
}
@media (min-width: 600px) {
	._f1m {
		font-size: 14px;
	}
	._f0 {
		font-size: 15px;
	}
	._f1p {
		font-size: 17px;
	}
}
.e {
	overflow: hidden;
	position: relative;
	width: 100%;
}
@supports (-moz-appearance: meterbar) and (all: initial) {
	._lc .e {
		-ms-flex: 1;
		flex: 1;
	}
}
._lc:not(._ap) .e {
	height: 100%;
	padding-bottom: 0;
}
.em {
	position: absolute;
	width: 100%;
	height: 100%;
}
.c {
	position: absolute;
	width: 100%;
	height: 100%;
}
.c {
	display: block;
	width: 100%;
	height: 100%;
	background: no-repeat center;
	background-size: cover;
}
.c {
	z-index: 20;
}
.w {
	background-color: inherit;
}
.e {
	padding-bottom: 100%;
}
.t {
	line-height: 1.4;
	color: inherit;
}
.th {
	color: inherit;
}
.tf {
	color: #999;
}
.tw {
	color: #999;
}
