.w {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: none transparent;
	text-align: left;
}
.em > a,
.tc > a,
.th > a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
.em a:not([href]):not([tabindex]),
.tc a:not([href]):not([tabindex]),
.th a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;
}
.em a:not([href]):not([tabindex]):focus,
.tc a:not([href]):not([tabindex]):focus,
.th a:not([href]):not([tabindex]):focus {
	outline: 0;
}
.em > a,
.tc > a,
.th > a {
	text-decoration: none;
	color: inherit;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
.w {
	line-height: 1.4;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: inherit;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
._rtl {
	direction: rtl;
	text-align: right;
}
.t,
.w,
.wf {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 100%;
	width: 100%;
}
@supports (-webkit-overflow-scrolling: touch) {
	.w {
		max-width: 100vw;
	}
}
.wc,
.wt {
	overflow: hidden;
}
._sc,
._sm {
	background: inherit;
}
._or .tf {
	-ms-flex-order: 0;
	order: 0;
}
._or .th {
	-ms-flex-order: 1;
	order: 1;
}
._or .td {
	-ms-flex-order: 2;
	order: 2;
}
._alsr._ls .wf {
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
._alcr._lc .wf {
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
._sc._ls .wt,
._ss._ls .wt {
	padding-left: 0;
	padding-right: 0;
}
._sc._ls._alsd .wt,
._ss._ls._alsd .wt {
	padding-bottom: 0;
}
._sc._ls._alsr .wt,
._ss._ls._alsr .wt {
	padding-top: 0;
}
._sc._lc .wt,
._ss._lc .wt {
	padding-top: 0;
	padding-bottom: 0;
}
._ss._lc._alcd .wt {
	padding-right: 0;
}
._ss._lc._alcr .wt {
	padding-left: 0;
}
._lc .wf {
	-ms-flex-direction: row;
	flex-direction: row;
}
._lc .wt {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-align: center;
	align-items: center;
}
._sc._lc._alcd .wf {
	padding-right: 0 !important;
}
._sc._lc._alcr .wf {
	padding-left: 0 !important;
}
.wt {
	padding: 8px 10px;
}
@media (min-width: 360px) {
	.wt {
		padding: 12px 15px;
	}
}
@media (min-width: 600px) {
	.wt {
		padding: 16px 20px;
	}
}
._lc._sm:not(.xd) .wc {
	min-width: 100px;
	width: 100px;
	min-height: 100px;
}
@media (min-width: 360px) {
	._lc._sm:not(.xd) .wc {
		min-width: 110px;
		width: 110px;
		min-height: 110px;
	}
}
@media (min-width: 460px) {
	._lc._sm:not(.xd) .wc {
		min-width: 140px;
		width: 140px;
		min-height: 140px;
	}
}
@media (min-width: 600px) {
	._lc._sm:not(.xd) .wc {
		min-width: 160px;
		width: 160px;
		min-height: 160px;
	}
}
._lc._sm._xd:not(._xf) .wc,
._lc._sm._xf:not(._xd) .wc {
	min-width: 100px;
	width: 100px;
	min-height: 100px;
}
@media (min-width: 360px) {
	._lc._sm._xd:not(._xf) .wc,
	._lc._sm._xf:not(._xd) .wc {
		min-width: 110px;
		width: 110px;
		min-height: 110px;
	}
}
@media (min-width: 600px) {
	._lc._sm._xd:not(._xf) .wc,
	._lc._sm._xf:not(._xd) .wc {
		min-width: 120px;
		width: 120px;
		min-height: 120px;
	}
}
._lc._sm._xd._xf .wc {
	min-width: 100px;
	width: 100px;
	min-height: 100px;
}
._lc._sc:not(.xd) .wc {
	min-width: 92px;
	width: 92px;
	min-height: 92px;
}
@media (min-width: 360px) {
	._lc._sc:not(.xd) .wc {
		min-width: 100px;
		width: 100px;
		min-height: 100px;
	}
}
@media (min-width: 460px) {
	._lc._sc:not(.xd) .wc {
		min-width: 130px;
		width: 130px;
		min-height: 130px;
	}
}
@media (min-width: 600px) {
	._lc._sc:not(.xd) .wc {
		min-width: 145px;
		width: 145px;
		min-height: 145px;
	}
}
._lc._sc._xd:not(._xf) .wc,
._lc._sc._xf:not(._xd) .wc {
	min-width: 92px;
	width: 92px;
	min-height: 92px;
}
@media (min-width: 360px) {
	._lc._sc._xd:not(._xf) .wc,
	._lc._sc._xf:not(._xd) .wc {
		min-width: 100px;
		width: 100px;
		min-height: 100px;
	}
}
@media (min-width: 600px) {
	._lc._sc._xd:not(._xf) .wc,
	._lc._sc._xf:not(._xd) .wc {
		min-width: 110px;
		width: 110px;
		min-height: 110px;
	}
}
._lc._sc._xd._xf .wc {
	min-width: 92px;
	width: 92px;
	min-height: 92px;
}
@supports (-moz-appearance: meterbar) and (all: initial) {
	._lc .wc {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-align: stretch;
		align-items: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
	}
}
._lc._ss:not(.xd) .wc {
	min-width: 100px;
	width: 100px;
	min-height: 100px;
}
@media (min-width: 360px) {
	._lc._ss:not(.xd) .wc {
		min-width: 110px;
		width: 110px;
		min-height: 110px;
	}
}
@media (min-width: 460px) {
	._lc._ss:not(.xd) .wc {
		min-width: 140px;
		width: 140px;
		min-height: 140px;
	}
}
@media (min-width: 600px) {
	._lc._ss:not(.xd) .wc {
		min-width: 160px;
		width: 160px;
		min-height: 160px;
	}
}
._lc._ss._xd:not(._xf) .wc,
._lc._ss._xf:not(._xd) .wc {
	min-width: 100px;
	width: 100px;
	min-height: 100px;
}
@media (min-width: 360px) {
	._lc._ss._xd:not(._xf) .wc,
	._lc._ss._xf:not(._xd) .wc {
		min-width: 110px;
		width: 110px;
		min-height: 110px;
	}
}
@media (min-width: 600px) {
	._lc._ss._xd:not(._xf) .wc,
	._lc._ss._xf:not(._xd) .wc {
		min-width: 120px;
		width: 120px;
		min-height: 120px;
	}
}
._lc._ss._xd._xf .wc {
	min-width: 100px;
	width: 100px;
	min-height: 100px;
}
._sc .wf {
	padding: 8px;
}
@media (min-width: 360px) {
	._sc:not(._xd):not(._xf) .wf {
		padding: 10px;
	}
}
@media (min-width: 460px) {
	._sc:not(._xd):not(._xf) .wf {
		padding: 12px;
	}
}
@media (min-width: 600px) {
	._sc:not(._xd):not(._xf) .wf {
		padding: 16px;
	}
}
._ls .th {
	-webkit-line-clamp: 2;
}
._ls._lh10 .th {
	max-height: 2em;
}
._ls._lh11 .th {
	max-height: 2.2em;
}
._ls._lh12 .th {
	max-height: 2.4em;
}
._ls._lh13 .th {
	max-height: 2.6em;
}
._ls._lh14 .th {
	max-height: 2.8em;
}
._ls._lh15 .th {
	max-height: 3em;
}
._ls .td {
	-webkit-line-clamp: 3;
}
._ls._lh10 .td {
	max-height: 3em;
}
._ls._lh11 .td {
	max-height: 3.3em;
}
._ls._lh12 .td {
	max-height: 3.6em;
}
._ls._lh13 .td {
	max-height: 3.9em;
}
._ls._lh14 .td {
	max-height: 4.2em;
}
._ls._lh15 .td {
	max-height: 4.5em;
}
._ls .twd {
	display: none;
}
@media (max-width: 459px) {
	._lc .ti,
	._lc .tm,
	._lc .tw + .tx,
	._lc .twt {
		display: none;
	}
}
@media (min-width: 460px) {
	._lc .twd {
		display: none;
	}
}
._lc:not(._ap):not(._ts) .th {
	-webkit-line-clamp: 3;
}
._lc:not(._ap):not(._ts)._lh10 .th {
	max-height: 3em;
}
._lc:not(._ap):not(._ts)._lh11 .th {
	max-height: 3.3em;
}
._lc:not(._ap):not(._ts)._lh12 .th {
	max-height: 3.6em;
}
._lc:not(._ap):not(._ts)._lh13 .th {
	max-height: 3.9em;
}
._lc:not(._ap):not(._ts)._lh14 .th {
	max-height: 4.2em;
}
._lc:not(._ap):not(._ts)._lh15 .th {
	max-height: 4.5em;
}
@media (max-width: 359px) {
	._lc:not(._ap):not(._ts) .td {
		display: none;
	}
}
@media (min-width: 360px) {
	._lc:not(._ap):not(._ts) .th {
		-webkit-line-clamp: 2;
	}
	._lc:not(._ap):not(._ts)._lh10 .th {
		max-height: 2em;
	}
	._lc:not(._ap):not(._ts)._lh11 .th {
		max-height: 2.2em;
	}
	._lc:not(._ap):not(._ts)._lh12 .th {
		max-height: 2.4em;
	}
	._lc:not(._ap):not(._ts)._lh13 .th {
		max-height: 2.6em;
	}
	._lc:not(._ap):not(._ts)._lh14 .th {
		max-height: 2.8em;
	}
	._lc:not(._ap):not(._ts)._lh15 .th {
		max-height: 3em;
	}
	._lc:not(._ap):not(._ts) .td {
		-webkit-line-clamp: 1;
	}
	._lc:not(._ap):not(._ts)._lh10 .td {
		max-height: 1em;
	}
	._lc:not(._ap):not(._ts)._lh11 .td {
		max-height: 1.1em;
	}
	._lc:not(._ap):not(._ts)._lh12 .td {
		max-height: 1.2em;
	}
	._lc:not(._ap):not(._ts)._lh13 .td {
		max-height: 1.3em;
	}
	._lc:not(._ap):not(._ts)._lh14 .td {
		max-height: 1.4em;
	}
	._lc:not(._ap):not(._ts)._lh15 .td {
		max-height: 1.5em;
	}
}
@media (min-width: 460px) {
	._lc:not(._ap):not(._ts) .td {
		-webkit-line-clamp: 2;
	}
	._lc:not(._ap):not(._ts)._lh10 .td {
		max-height: 2em;
	}
	._lc:not(._ap):not(._ts)._lh11 .td {
		max-height: 2.2em;
	}
	._lc:not(._ap):not(._ts)._lh12 .td {
		max-height: 2.4em;
	}
	._lc:not(._ap):not(._ts)._lh13 .td {
		max-height: 2.6em;
	}
	._lc:not(._ap):not(._ts)._lh14 .td {
		max-height: 2.8em;
	}
	._lc:not(._ap):not(._ts)._lh15 .td {
		max-height: 3em;
	}
}
._lc._ap:not(._ts) .th {
	-webkit-line-clamp: 3;
}
._lc._ap:not(._ts)._lh10 .th {
	max-height: 3em;
}
._lc._ap:not(._ts)._lh11 .th {
	max-height: 3.3em;
}
._lc._ap:not(._ts)._lh12 .th {
	max-height: 3.6em;
}
._lc._ap:not(._ts)._lh13 .th {
	max-height: 3.9em;
}
._lc._ap:not(._ts)._lh14 .th {
	max-height: 4.2em;
}
._lc._ap:not(._ts)._lh15 .th {
	max-height: 4.5em;
}
._lc._ap:not(._ts) .td {
	-webkit-line-clamp: 2;
}
._lc._ap:not(._ts)._lh10 .td {
	max-height: 2em;
}
._lc._ap:not(._ts)._lh11 .td {
	max-height: 2.2em;
}
._lc._ap:not(._ts)._lh12 .td {
	max-height: 2.4em;
}
._lc._ap:not(._ts)._lh13 .td {
	max-height: 2.6em;
}
._lc._ap:not(._ts)._lh14 .td {
	max-height: 2.8em;
}
._lc._ap:not(._ts)._lh15 .td {
	max-height: 3em;
}
@media (min-width: 360px) {
	._lc._ap:not(._ts) .th {
		-webkit-line-clamp: 2;
	}
	._lc._ap:not(._ts)._lh10 .th {
		max-height: 2em;
	}
	._lc._ap:not(._ts)._lh11 .th {
		max-height: 2.2em;
	}
	._lc._ap:not(._ts)._lh12 .th {
		max-height: 2.4em;
	}
	._lc._ap:not(._ts)._lh13 .th {
		max-height: 2.6em;
	}
	._lc._ap:not(._ts)._lh14 .th {
		max-height: 2.8em;
	}
	._lc._ap:not(._ts)._lh15 .th {
		max-height: 3em;
	}
	._lc._ap:not(._ts) .td {
		-webkit-line-clamp: 3;
	}
	._lc._ap:not(._ts)._lh10 .td {
		max-height: 3em;
	}
	._lc._ap:not(._ts)._lh11 .td {
		max-height: 3.3em;
	}
	._lc._ap:not(._ts)._lh12 .td {
		max-height: 3.6em;
	}
	._lc._ap:not(._ts)._lh13 .td {
		max-height: 3.9em;
	}
	._lc._ap:not(._ts)._lh14 .td {
		max-height: 4.2em;
	}
	._lc._ap:not(._ts)._lh15 .td {
		max-height: 4.5em;
	}
}
@media (min-width: 460px) {
	._lc._ap:not(._ts) .td {
		-webkit-line-clamp: 4;
	}
	._lc._ap:not(._ts)._lh10 .td {
		max-height: 4em;
	}
	._lc._ap:not(._ts)._lh11 .td {
		max-height: 4.4em;
	}
	._lc._ap:not(._ts)._lh12 .td {
		max-height: 4.8em;
	}
	._lc._ap:not(._ts)._lh13 .td {
		max-height: 5.2em;
	}
	._lc._ap:not(._ts)._lh14 .td {
		max-height: 5.6em;
	}
	._lc._ap:not(._ts)._lh15 .td {
		max-height: 6em;
	}
}
._lc._ts .th {
	-webkit-line-clamp: 1;
}
._lc._ts._lh10 .th {
	max-height: 1em;
}
._lc._ts._lh11 .th {
	max-height: 1.1em;
}
._lc._ts._lh12 .th {
	max-height: 1.2em;
}
._lc._ts._lh13 .th {
	max-height: 1.3em;
}
._lc._ts._lh14 .th {
	max-height: 1.4em;
}
._lc._ts._lh15 .th {
	max-height: 1.5em;
}
._lc._ts .td {
	-webkit-line-clamp: 2;
}
._lc._ts._lh10 .td {
	max-height: 2em;
}
._lc._ts._lh11 .td {
	max-height: 2.2em;
}
._lc._ts._lh12 .td {
	max-height: 2.4em;
}
._lc._ts._lh13 .td {
	max-height: 2.6em;
}
._lc._ts._lh14 .td {
	max-height: 2.8em;
}
._lc._ts._lh15 .td {
	max-height: 3em;
}
@media (min-width: 460px) {
	._lc._ts .th {
		-webkit-line-clamp: 1;
	}
	._lc._ts._lh10 .th {
		max-height: 1em;
	}
	._lc._ts._lh11 .th {
		max-height: 1.1em;
	}
	._lc._ts._lh12 .th {
		max-height: 1.2em;
	}
	._lc._ts._lh13 .th {
		max-height: 1.3em;
	}
	._lc._ts._lh14 .th {
		max-height: 1.4em;
	}
	._lc._ts._lh15 .th {
		max-height: 1.5em;
	}
	._lc._ts .td {
		-webkit-line-clamp: 3;
	}
	._lc._ts._lh10 .td {
		max-height: 3em;
	}
	._lc._ts._lh11 .td {
		max-height: 3.3em;
	}
	._lc._ts._lh12 .td {
		max-height: 3.6em;
	}
	._lc._ts._lh13 .td {
		max-height: 3.9em;
	}
	._lc._ts._lh14 .td {
		max-height: 4.2em;
	}
	._lc._ts._lh15 .td {
		max-height: 4.5em;
	}
}
@media (min-width: 460px) {
	._lc._xf:not(._xd)._ts .td {
		-webkit-line-clamp: 2;
	}
	._lc._xf:not(._xd)._ts._lh10 .td {
		max-height: 2em;
	}
	._lc._xf:not(._xd)._ts._lh11 .td {
		max-height: 2.2em;
	}
	._lc._xf:not(._xd)._ts._lh12 .td {
		max-height: 2.4em;
	}
	._lc._xf:not(._xd)._ts._lh13 .td {
		max-height: 2.6em;
	}
	._lc._xf:not(._xd)._ts._lh14 .td {
		max-height: 2.8em;
	}
	._lc._xf:not(._xd)._ts._lh15 .td {
		max-height: 3em;
	}
}
@media (min-width: 460px) {
	._lc._xf:not(._xd)._tl .td,
	._lc._xf:not(._xd)._tm .td {
		-webkit-line-clamp: 1;
	}
	._lc._xf:not(._xd)._tl._lh10 .td,
	._lc._xf:not(._xd)._tm .td {
		max-height: 1em;
	}
	._lc._xf:not(._xd)._tl._lh11 .td,
	._lc._xf:not(._xd)._tm .td {
		max-height: 1.1em;
	}
	._lc._xf:not(._xd)._tl._lh12 .td,
	._lc._xf:not(._xd)._tm .td {
		max-height: 1.2em;
	}
	._lc._xf:not(._xd)._tl._lh13 .td,
	._lc._xf:not(._xd)._tm .td {
		max-height: 1.3em;
	}
	._lc._xf:not(._xd)._tl._lh14 .td,
	._lc._xf:not(._xd)._tm .td {
		max-height: 1.4em;
	}
	._lc._xf:not(._xd)._tl._lh15 .td,
	._lc._xf:not(._xd)._tm .td {
		max-height: 1.5em;
	}
}
.t {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.td,
.th {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
@supports (display: -webkit-box) {
	.td,
	.th {
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
}
.td {
	vertical-align: inherit;
}
.tf,
.th {
	margin-bottom: 0.5em;
}
.td {
	margin-bottom: 0.6em;
}
._od .td:last-child,
._od .tf:last-child,
._od .th:last-child {
	margin-bottom: 0 !important;
}
._or .td {
	margin-bottom: 0 !important;
}
.tf {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.tc {
	-ms-flex: 1;
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tim {
	display: block;
	min-width: 16px;
	min-height: 16px;
	width: 1em;
	height: 1em;
	margin-right: 6px;
}
._rtl .tim {
	margin-left: 6px;
	margin-right: 0;
}
.tx {
	opacity: 0.3;
	margin: 0 0.25em;
}
.tx:last-child {
	display: none !important;
}
._hd .td,
._hf .tf {
	display: none;
}
._hw .ti,
._hw .tw,
._hw .tw + .tx {
	display: none;
}
._hm .tm,
._hm .tw + .tx {
	display: none;
}
._hwi .ti {
	display: none;
}
._hwt .tw,
._hwt .tw + .tx {
	display: none;
}
._hmt .tmt,
._hmt .tmt + .tx {
	display: none;
}
._hmd .tm .tx,
._hmd .tmd {
	display: none;
}
._od._hf .td {
	margin-bottom: 0 !important;
}
._od._hd._hf .th,
._or._hd .th {
	margin-bottom: 0 !important;
}
@media (min-width: 460px) {
	.td {
		margin-bottom: 0.7em;
	}
}
._ffsa {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif;
}
._ffse {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
._ffmo {
	font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
}
._ffco {
	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}
._fwn {
	font-weight: 400;
}
._fwb {
	font-weight: 700;
}
._fsi {
	font-style: italic;
}
._fsn {
	font-style: normal;
}
._ttn {
	text-transform: none;
}
._ttu {
	text-transform: uppercase;
	letter-spacing: 0.025em;
}
._lh10 {
	line-height: 1;
}
._lh11 {
	line-height: 1.1;
}
._lh12 {
	line-height: 1.2;
}
._lh13 {
	line-height: 1.3;
}
._lh14 {
	line-height: 1.4;
}
._lh15 {
	line-height: 1.5;
}
._f3m {
	font-size: 11px;
}
._f0,
._f1m,
._f2m,
._f3m {
	font-size: 12px;
}
._f1p,
._f2p {
	font-size: 13px;
}
._f3p {
	font-size: 14px;
}
._f4p {
	font-size: 16px;
}
@media (min-width: 360px) {
	._f0 {
		font-size: 13px;
	}
	._f1p {
		font-size: 14px;
	}
	._f2p {
		font-size: 15px;
	}
	._f3p {
		font-size: 16px;
	}
	._f4p {
		font-size: 18px;
	}
}
@media (min-width: 460px) {
	._f1m {
		font-size: 13px;
	}
	._f0 {
		font-size: 14px;
	}
	._f1p {
		font-size: 15px;
	}
	._f2p {
		font-size: 16px;
	}
	._f3p {
		font-size: 18px;
	}
	._f4p {
		font-size: 21px;
	}
}
@media (min-width: 600px) {
	._f3m {
		font-size: 12px;
	}
	._f2m {
		font-size: 13px;
	}
	._f1m {
		font-size: 14px;
	}
	._f0 {
		font-size: 15px;
	}
	._f1p {
		font-size: 17px;
	}
	._f2p {
		font-size: 18px;
	}
	._f3p {
		font-size: 21px;
	}
	._f4p {
		font-size: 24px;
	}
}
.e {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.e ._ls {
	height: 0;
	padding-bottom: 56.25%;
}
@supports (-moz-appearance: meterbar) and (all: initial) {
	._lc .e {
		-ms-flex: 1;
		flex: 1;
	}
}
._lc:not(._ap) .e {
	height: 100%;
	padding-bottom: 0;
}
.em {
	position: absolute;
	width: 100%;
	height: 100%;
}
.c,
.co {
	position: absolute;
	width: 100%;
	height: 100%;
}
.c {
	display: block;
	width: 100%;
	height: 100%;
	background: no-repeat center;
	background-size: cover;
}
.c {
	z-index: 20;
}
.co {
	z-index: 30;
}
.pr {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.pr > video {
	width: 100%;
	height: 100%;
}
.pr .plyr {
	height: 100%;
}
.pv {
	display: block;
	width: 100%;
	height: 100%;
}
.w {
	background-color: inherit;
}
.e {
	padding-bottom: 100%;
}
.t {
	line-height: 1.4;
	color: inherit;
}
.th {
	color: inherit;
}
.tf {
	color: #999;
}
.tw {
	color: #999;
}
